<%= provide(:title, 'Agents') %>
<h1> Active Agents </h1>
<ul class ="agents">
	<%= render @agents %>
</ul>
<h1> Available Missions </h1>
<ul>
	<%= render @missions %>
</ul>
<%= link_to "New Agent", 'agents/new' %>